<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.comercioexpress.plano">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VisaoGeralNova"
            android:label="@string/title_activity_visao_geral_nova"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="Seleção de Clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cliente"
            android:label="Cadastro de Clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".Pedidos"
            android:label="@string/title_activity_pedidos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Oppening"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Opcoes"
            android:label="@string/title_activity_opcoes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroClientes"
            android:label="@string/title_activity_cadastro_clientes"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".Produtos"
            android:label="@string/title_activity_produtos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroProdutos"
            android:label="@string/title_activity_cadastro_produtos"
            android:parentActivityName=".Produtos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Produtos" />
        </activity>
        <activity
            android:name=".ManutencaoPedidos"
            android:configChanges="orientation"
            android:label="@string/title_activity_manutencao_pedidos"
            android:parentActivityName=".Pedidos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pedidos" />
        </activity>
        <activity
            android:name=".SelecaoCliente"
            android:label="@string/title_activity_selecao_cliente"
            android:parentActivityName=".ManutencaoPedidos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManutencaoPedidos" />
        </activity>
        <activity
            android:name=".AdicionarProdutos"
            android:label="@string/title_activity_adicionar_produtos"
            android:parentActivityName=".ManutencaoPedidos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManutencaoPedidos" />
        </activity>
        <activity
            android:name=".ListaCustomizadaProdutos"
            android:label="SelecionarProdutos"
            android:parentActivityName=".ManutencaoPedidos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManutencaoPedidos" />
        </activity>
        <activity
            android:name=".AdicionarProdutosCustomizada"
            android:label="@string/title_activity_adicionar_produtos_customizada"
            android:parentActivityName=".ManutencaoPedidos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ManutencaoPedidos" />
        </activity>
        <activity
            android:name=".ManutencaoProdutoPedido"
            android:label="@string/title_activity_manutencao_produto_pedido"
            android:parentActivityName=".AdicionarProdutosCustomizada"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AdicionarProdutosCustomizada" />
        </activity>
        <activity
            android:name=".Filial"
            android:label="@string/title_activity_filial"
            android:parentActivityName=".Opcoes"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Opcoes" />
        </activity>

        <provider
            android:name="br.comercioexpress.plano.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>